<form #referralDataForm="ngForm" (ngSubmit)="onSubmit()" class="ct08-form"
  fxLayout="column"
  fxLayoutAlign="center center"
>
  <p class="mat-title">Modification du protocole ARTT</p>
  <mat-divider></mat-divider>

  <p class="section">Rappel du protocole actuel</p>
  <div
    fxLayout="row wrap"
    fxLayout.lt-md="column"
    fxLayoutGap="30px"
    fxLayoutAlign="center"
    fxFlexFill
  >
    <mat-form-field class="field" fxFlex="40" fxFlex.lt-md="100">
      <input matInput
        [(ngModel)]="data.application"
        [matDatepicker]="applicationDatePicker"
        name="application"
        placeholder="Date d'entrée en vigueur"
        required
      >
      <mat-datepicker-toggle matSuffix [for]="applicationDatePicker"></mat-datepicker-toggle>
      <mat-datepicker #applicationDatePicker></mat-datepicker>
    </mat-form-field>

    <mat-form-field class="field" fxFlex="40" fxFlex.lt-md="100">
      <input matInput
        [(ngModel)]="data.ct"
        [matDatepicker]="ctDatePicker"
        name="ct"
        placeholder="Date de l'avis du CT"
        required
      >
      <mat-datepicker-toggle matSuffix [for]="ctDatePicker"></mat-datepicker-toggle>
      <mat-datepicker #ctDatePicker></mat-datepicker>
    </mat-form-field>

    <mat-form-field class="field hours" fxFlex.lt-md="100" fxFlex="45">
      <input matInput type="number" min="1" max="99"
        [(ngModel)]="data.hours"
        name="hours"
        placeholder="Durée moyenne hebdomadaire de travail"
        required
      >
      <span matSuffix>heures</span>
    </mat-form-field>
  </div>

  <div
    fxLayout="row wrap"
    fxLayout.lt-md="column"
    fxLayoutGap="30px"
    fxLayoutAlign="center"
    fxFlexFill
  >
    <div class="field rtt" fxFlex="70" fxLayoutAlign="center center">
      <mat-checkbox [(ngModel)]="data.rtt" name="rtt">RTT</mat-checkbox>
    </div>
  </div>
  <ng-container *ngIf="data.rtt">
    <div
      fxLayout="row wrap"
      fxLayout.lt-md="column"
      fxLayoutGap="30px"
      fxLayoutAlign="center"
      fxFlexFill
    >
      <mat-form-field class="field days" fxFlex.lt-md="100" fxFlex="30">
        <input matInput type="number" min="1" max="99"
          [(ngModel)]="data.days"
          name="days"
          placeholder="Nombre de jours RTT"
          required
        >
      </mat-form-field>

      <mat-form-field class="field period" fxFlex="50" fxFlex.lt-md="100">
        <input matInput
          [(ngModel)]="data.period"
          name="period"
          placeholder="Période de liquidation des RTT"
          required
        >
      </mat-form-field>
      <mat-form-field class="field" fxFlex="70" fxFlex.lt-md="80">
        <textarea
          fxFlexFill
          [(ngModel)]="data.terms"
          matInput
          cdkTextareaAutosize
          name="terms"
          id="terms"
          placeholder="Modalités de liquidation des RTT"
          required
        ></textarea>
      </mat-form-field>
    </div>
  </ng-container>

  <div class="field cycle" fxFlex="70" fxLayoutAlign="center center">
    <mat-checkbox [(ngModel)]="data.cycle" name="cycle">Travail en cycle</mat-checkbox>
  </div>

  <ng-container *ngIf="data.cycle">
    <div
      fxLayout="row wrap"
      fxLayout.lt-md="column"
      fxLayoutGap="30px"
      fxLayoutAlign="center"
      fxFlexFill
    >
      <mat-form-field class="field days" fxFlex.lt-md="100" fxFlex="30">
        <input matInput type="number" min="1" max="99"
          [(ngModel)]="data.cycleDays"
          name="cycleDays"
          placeholder="Nombre de jours RTT"
          required
        >
      </mat-form-field>

      <mat-form-field class="field period" fxFlex="50" fxFlex.lt-md="100">
        <input matInput
          [(ngModel)]="data.cyclePeriod"
          name="cyclePeriod"
          placeholder="Période de liquidation des RTT"
          required
        >
      </mat-form-field>

      <mat-form-field class="field" fxFlex="70" fxFlex.lt-md="80">
        <textarea
          fxFlexFill
          [(ngModel)]="data.cycleTerms"
          matInput
          cdkTextareaAutosize
          name="cycleTerms"
          id="cycle-terms"
          placeholder="Modalités de liquidation des RTT"
          required
        ></textarea>
      </mat-form-field>
    </div>
  </ng-container>

  <p class="section">Nouveau protocole</p>
  <div
    fxLayout="row wrap"
    fxLayout.lt-md="column"
    fxLayoutGap="30px"
    fxLayoutAlign="center"
    fxFlexFill
  >
    <mat-form-field class="field" fxFlex="40" fxFlex.lt-md="100">
      <input matInput
        [(ngModel)]="data.newApplication"
        [matDatepicker]="newApplicationDatePicker"
        name="new-application"
        placeholder="Date d'entrée en vigueur"
        required
      >
      <mat-datepicker-toggle matSuffix [for]="newApplicationDatePicker"></mat-datepicker-toggle>
      <mat-datepicker #newApplicationDatePicker></mat-datepicker>
    </mat-form-field>
  </div>

  <div
    fxLayout="row wrap"
    fxLayout.lt-md="column"
    fxLayoutGap="30px"
    fxLayoutAlign="center"
    fxFlexFill
  >
    <mat-form-field class="field new-hours" fxFlex.lt-md="100" fxFlex="45">
      <input matInput type="number" min="1" max="99"
        [(ngModel)]="data.newHours"
        name="new-hours"
        placeholder="Durée moyenne hebdomadaire de travail"
        required
      >
      <span matSuffix>heures</span>
    </mat-form-field>
  </div>
    <div class="field new-rtt" fxFlex="70" fxLayoutAlign="center center">
      <mat-checkbox [(ngModel)]="data.newRtt" name="newRtt">RTT</mat-checkbox>
    </div>

    <ng-container *ngIf="data.newRtt">
      <div
      fxLayout="row wrap"
      fxLayout.lt-md="column"
      fxLayoutGap="30px"
      fxLayoutAlign="center"
      fxFlexFill
    >
        <mat-form-field class="field newDays" fxFlex.lt-md="100" fxFlex="30">
          <input matInput type="number" min="1" max="99"
            [(ngModel)]="data.newDays"
            name="newDays"
            placeholder="Nombre de jours RTT"
            required
          >
        </mat-form-field>

        <mat-form-field class="field newPeriod" fxFlex="50" fxFlex.lt-md="100">
          <input matInput
            [(ngModel)]="data.newPeriod"
            name="newPeriod"
            placeholder="Période de liquidation des RTT"
            required
          >
        </mat-form-field>

        <mat-form-field class="field" fxFlex="70" fxFlex.lt-md="80">
          <textarea
            fxFlexFill
            [(ngModel)]="data.newTerms"
            matInput
            cdkTextareaAutosize
            name="newTerms"
            id="new-terms"
            placeholder="Modalités de liquidation des RTT"
            required
          ></textarea>
        </mat-form-field>
      </div>
    </ng-container>

    <div class="field newCycle" fxFlex="70" fxLayoutAlign="center center">
      <mat-checkbox [(ngModel)]="data.newCycle" name="newCycle">Travail en cycle</mat-checkbox>
    </div>

    <ng-container *ngIf="data.newCycle">
      <div
        fxLayout="row wrap"
        fxLayout.lt-md="column"
        fxLayoutGap="30px"
        fxLayoutAlign="center"
        fxFlexFill
      >
        <mat-form-field class="field days" fxFlex.lt-md="100" fxFlex="30">
          <input matInput type="number" min="1" max="99"
            [(ngModel)]="data.newCycleDays"
            name="newCycleDays"
            placeholder="Nombre de jours RTT"
            required
          >
        </mat-form-field>

        <mat-form-field class="field period" fxFlex="50" fxFlex.lt-md="100">
          <input matInput
            [(ngModel)]="data.newCyclePeriod"
            name="newCyclePeriod"
            placeholder="Période de liquidation des RTT"
            required
          >
        </mat-form-field>
        <mat-form-field class="field" fxFlex="70" fxFlex.lt-md="80">
          <textarea
            fxFlexFill
            [(ngModel)]="data.newCycleTerms"
            matInput
            cdkTextareaAutosize
            name="newCycleTerms"
            id="cycle-terms"
            placeholder="Modalités de liquidation des RTT"
            required

          ></textarea>
        </mat-form-field>
      </div>
    </ng-container>

    <div class="field staff-consulted" fxFlex="70" fxLayoutAlign="center center">
      <mat-checkbox [(ngModel)]="data.staffConsulted" name="staff-consulted">Consultation du personnel</mat-checkbox>
    </div>

  <div class="button">
    <button type="submit" mat-raised-button color="accent" [disabled]="referralDataForm.invalid">Suivant</button>
  </div>
</form>

