<form #referralDataForm="ngForm" (ngSubmit)="onSubmit()" class="cap06-form"
  fxLayout="column"
  fxLayoutAlign="center center"
>
  <p class="mat-title">Refus de disponibilité ou de réintégration après disponibilité</p>
  <mat-divider></mat-divider>
  <div class="fields"
    fxLayout="row wrap"
    fxLayout.lt-md="column"
    fxLayoutGap="30px"
    fxLayoutAlign="center"
  >
    <div class="field in-or-out" fxFlex="100">
      <mat-radio-group
        fxLayout="row wrap"
        fxLayout.lt-md="column"
        fxLayoutGap="30px"
        fxLayoutAlign="center"
        [(ngModel)]="data.inOrOut"
        name="in-or-out"
        required
      >
        <mat-radio-button value="true">Refus de disponibilité</mat-radio-button>
        <mat-radio-button value="false">Refus de réintégration</mat-radio-button>
      </mat-radio-group>
    </div>

    <mat-form-field class="field">
      <input matInput
        [(ngModel)]="data.firstname"
        name="firstName"
        placeholder="Prénom"
        required
      >
    </mat-form-field>

    <mat-form-field class="field">
      <input matInput
        [(ngModel)]="data.lastname"
        name="lastName"
        placeholder="Nom"
        required
      >
    </mat-form-field>

    <mat-form-field class="field">
      <input matInput
        [(ngModel)]="data.birthdate"
        [matDatepicker]="birthDatePicker"
        name="birthdate"
        placeholder="Date de naissance"
        required
      >
      <mat-datepicker-toggle matSuffix [for]="birthDatePicker"></mat-datepicker-toggle>
      <mat-datepicker #birthDatePicker></mat-datepicker>
    </mat-form-field>
  </div>

  <div
    fxLayout="row wrap"
    fxLayout.lt-md="column"
    fxLayoutGap="30px"
    fxLayoutAlign="center"
  >
    <mat-form-field class="field">
      <input matInput
        [(ngModel)]="data.nomination"
        [matDatepicker]="nominationDatePicker"
        name="nomination"
        placeholder="Date de nomination"
        required
      >
      <mat-datepicker-toggle matSuffix [for]="nominationDatePicker"></mat-datepicker-toggle>
      <mat-datepicker #nominationDatePicker></mat-datepicker>
    </mat-form-field>

    <mat-form-field class="field">
      <input matInput
        [(ngModel)]="data.grade"
        name="grade"
        placeholder="Grade"
        required
      >
    </mat-form-field>
  </div>

  <div
    fxLayout="row wrap"
    fxLayout.lt-md="column"
    fxLayoutGap="30px"
    fxLayoutAlign="center"
  >
    <mat-form-field class="field hours" fxFlex.lt-md="100">
      <input matInput type="number" min="1" max="99"
        [(ngModel)]="data.hours"
        name="hours"
        placeholder="Temps de travail"
        required
      >
      <span matSuffix>h/semaine</span>
    </mat-form-field>
  </div>

  <div
    fxLayout="row wrap"
    fxLayout.lt-md="column"
    fxLayoutGap="30px"
    fxLayoutAlign="center"
  >
    <mat-form-field class="field duration" fxFlex.lt-md="70">
      <input matInput type="number" min="1" max="99"
        [(ngModel)]="data.duration"
        name="duration"
        placeholder="Durée de la disponibilité"
        required
      >
      <span matSuffix>mois</span>
    </mat-form-field>

    <mat-form-field class="field motive" fxFlex.lt-md="100">
      <input matInput
        [(ngModel)]="data.motive"
        name="motive"
        placeholder="Motif de la disponibilité"
        required
      >
    </mat-form-field>

    <mat-form-field class="field reason" fxFlexFill fxFlex.lt-md="100">
      <textarea fxFlexFill
        [(ngModel)]="data.reason"
        matInput
        cdkTextareaAutosize
        name="reason"
        id="reason"
        placeholder="Motif de refus"
        required
      ></textarea>
    </mat-form-field>
  </div>

  <div class="button">
    <button type="submit" mat-raised-button color="accent" [disabled]="referralDataForm.invalid">Suivant</button>
  </div>
</form>
