<h2 class="mat-display-1" *ngIf="app-user?.id">Modifier un utilisateur</h2>
<h2 class="mat-display-1" *ngIf="!app-user?.id">Nouvel utilisateur</h2>

<mat-card>
  <mat-card-title></mat-card-title>
  <form class="app-user-form" #appUserForm="ngForm" (ngSubmit)="onSubmit()">
    <mat-card-content>
      <mat-form-field class="field">
        <input matInput [(ngModel)]="appUser.name"  name="name" placeholder="Nom">
      </mat-form-field>

      <mat-form-field class="field">
        <input matInput [(ngModel)]="appUser.username"  name="username" placeholder="Nom d'utilisateur">
      </mat-form-field>

      <mat-form-field class="field">
        <input matInput [(ngModel)]="appUser.email" type="email" name="email" placeholder="Email">
      </mat-form-field>

      <mat-form-field *ngIf="!appUser?.id" class="field">
        <input matInput type="password" [(ngModel)]="appUser.password"  name="password" placeholder="Mot de passe">
      </mat-form-field>

      <mat-form-field class="field">
        <input matInput [(ngModel)]="appUser.territory"  name="territory" placeholder="Territoire">
      </mat-form-field>

      <div class="roles" *ngxPermissionsOnly="['admin', 'secretary']">
        <p><label>Roles</label></p>

        <p *ngFor="let role of roles" class="role">
          <mat-slide-toggle [checked]="hasRole(role.name)" (change)="toggleRole(role)">{{ role.description }}</mat-slide-toggle>
        </p>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <button type="submit" id="submit" mat-raised-button color="accent">Enregistrer</button>
    </mat-card-actions>
  </form>
</mat-card>
