<form #informationForm="ngForm" (ngSubmit)="submit()" class="information-form">
  <mat-card>
      <label class="mat-title">Collectivité</label>
      <div class="community">
        <mat-form-field class="field community">
          <input type="text" matInput
            placeholder="Nom de l'établissement"
            [(ngModel)]="information.community"
            name="community"
            required
          >
        </mat-form-field>

        <mat-form-field class="field">
          <input matInput type="number" min="0"
            [(ngModel)]="information.inhabitants"
            name="inhabitants"
            placeholder="Nombre d'habitants"
            required
          >
        </mat-form-field>

        <mat-form-field class="field contact">
          <input matInput
            [(ngModel)]="information.contact"
            name="contact"
            placeholder="Email de la personne en charge du dossier"
            required
          >
        </mat-form-field>
      </div>

      <div class="employees">
        <label class="mat-title">Nombre de fonctionnaires</label>
        <div class="officials">
          <mat-form-field class="field">
            <input matInput type="number" min="0"
            [(ngModel)]="information.holders"
            name="holders"
            placeholder="Titulaires"
            required
          >
          </mat-form-field>

          <mat-form-field class="field">
            <input matInput type="number" min="0"
              [(ngModel)]="information.interns"
              name="interns"
              placeholder="Stagiaires"
              required
            >
          </mat-form-field>
        </div>

        <label class="mat-title">Nombre de contractuels</label>
        <div class="contractuals">
            <mat-form-field class="field">
              <input matInput type="number" min="0"
                [(ngModel)]="information.permanents"
                name="permanents"
                placeholder="CDI"
                required
              >
            </mat-form-field>

            <mat-form-field class="field">
              <input matInput type="number" min="0"
                [(ngModel)]="information.temporaries"
                name="temporaries"
                placeholder="CDD de plus de 6 mois"
                required
              >
            </mat-form-field>

            <mat-form-field class="field">
              <input matInput type="number" min="0"
                [(ngModel)]="information.supported"
                name="supported"
                placeholder="Contrats aidés"
                required
              >
            </mat-form-field>

            <mat-form-field class="field">
              <input matInput type="number" min="0"
                [(ngModel)]="information.apprentices"
                name="apprentices"
                placeholder="Apprentis"
                required
              >
            </mat-form-field>
        </div>
      </div>

      <div class="button">
        <p *ngIf="informationForm.pristine">Veuillez remplir tous les champs</p>
        <p class="invalid" *ngIf="informationForm.errors">Veuillez corriger tous les champs en rouge</p>
        <button type="submit" mat-raised-button color="accent" [disabled]="informationForm.invalid">Valider</button>
      </div>
  </mat-card>
</form>
