{% extends 'base.twig' %}

{% block instructions %}
  <p>
  </p>
{% endblock %}

{% block content %}
  <div class="row">
    <p class="label">Nom et prénom de l'agent:</p>
    <p id="name" class="value">{{ data.firstname }} {{ data.lastname }}</p>
  </div>
{% endblock %}
