<div class="signature">
  <p class="location">Fait à .......</p>
  <p class="date">Le ...........</p>
  <p class="date">Signature</p>

  <p class="signature-label">(cachet de la collectivité) Le Maire, Le président,</p>
</div>
