<form #referralDataForm="ngForm" (ngSubmit)="onSubmit()" class="cap01-form"
  fxLayout="column"
  fxLayoutAlign="center center"
>
  <p class="mat-title">Refus de titularisation</p>
  <mat-divider></mat-divider>
  <div class="agent"
    fxLayout="row wrap"
    fxLayout.lt-md="column"
    fxLayoutGap="30px"
    fxLayoutAlign="center"
  >
    <mat-form-field class="field">
      <input matInput
        [(ngModel)]="data.firstname"
        name="firstName"
        placeholder="Prénom"
        required
      >
    </mat-form-field>

    <mat-form-field class="field">
      <input matInput
        [(ngModel)]="data.lastname"
        name="lastName"
        placeholder="Nom"
        required
      >
    </mat-form-field>

    <mat-form-field class="field">
      <input matInput
        [(ngModel)]="data.birthdate"
        [matDatepicker]="birthDatePicker"
        name="birthdate"
        placeholder="Date de naissance"
        required
      >
      <mat-datepicker-toggle matSuffix [for]="birthDatePicker"></mat-datepicker-toggle>
      <mat-datepicker #birthDatePicker></mat-datepicker>
    </mat-form-field>
  </div>

  <div
    fxLayout="row wrap"
    fxLayout.lt-md="column"
    fxLayoutGap="30px"
    fxLayoutAlign="center"
  >
    <mat-form-field class="field">
      <input matInput
        [(ngModel)]="data.nomination"
        [matDatepicker]="nominationDatePicker"
        name="nomination"
        placeholder="Date de nomination"
        required
      >
      <mat-datepicker-toggle matSuffix [for]="nominationDatePicker"></mat-datepicker-toggle>
      <mat-datepicker #nominationDatePicker></mat-datepicker>
    </mat-form-field>

    <mat-form-field class="field">
      <input matInput
        [(ngModel)]="data.grade"
        name="grade"
        placeholder="Grade"
        required
      >
    </mat-form-field>
  </div>

  <div
    fxLayout="row wrap"
    fxLayoutGap="30px"
    fxLayoutAlign="center"
  >
    <mat-form-field class="field hours" fxFlex.lt-md="70">
      <input matInput type="number" min="1" max="99"
        [(ngModel)]="data.hours"
        name="hours"
        placeholder="Temps de travail"
        required
      >
      <span matSuffix>h/semaine</span>
    </mat-form-field>
  </div>

  <div class="field" fxFlex="60">
    <mat-checkbox [(ngModel)]="data.prorogation" name="prorogation">Le stage a t-il été prorogé ?</mat-checkbox>
  </div>

  <div
    fxLayout="row wrap"
    fxLayoutGap="30px"
    fxLayoutAlign="center"
    *ngIf="data.prorogation"
  >
    <mat-form-field class="field prorogation-duration" fxFlex.lt-md="70">
      <input matInput type="number" min="1" max="99"
        [(ngModel)]="data.prorogationDuration"
        name="prorogation"
        placeholder="Durée de prorogation"
        required
      >
      <span matSuffix>mois</span>
    </mat-form-field>
  </div>

  <mat-form-field class="field denied-from">
    <input matInput
      [(ngModel)]="data.deniedFrom"
      [matDatepicker]="deniedFromDatePicker"
      name="deniedFrom"
      placeholder="Refus de titularisation à compter du"
      required
    >
    <mat-datepicker-toggle matSuffix [for]="deniedFromDatePicker"></mat-datepicker-toggle>
    <mat-datepicker #deniedFromDatePicker></mat-datepicker>
  </mat-form-field>

  <mat-form-field class="field" fxFlexFill fxFlex.lt-md="70">
    <textarea
      fxFlexFill
      [(ngModel)]="data.motivation"
      matInput
      cdkTextareaAutosize
      name="motivation"
      id="motivation"
      placeholder="Rapport motivé"
      required
    ></textarea>
  </mat-form-field>

  <div class="button">
    <button type="submit" mat-raised-button color="accent" [disabled]="referralDataForm.invalid">Suivant</button>
  </div>
</form>
