<form #referralDataForm="ngForm" (ngSubmit)="onSubmit()" class="ct09-form"
  fxLayout="column"
  fxLayoutAlign="center center"
>
  <p class="mat-title">Astreintes et permanences</p>
  <mat-divider></mat-divider>

  <div class="field type" fxFlex="100">
    <mat-radio-group
      fxLayout="row wrap"
      fxLayout.lt-md="column"
      fxLayoutGap="30px"
      fxLayoutAlign="center"
      [(ngModel)]="data.type"
      name="type"
      required
    >
      <mat-radio-button value="Astreintes">Astreintes</mat-radio-button>
      <mat-radio-button value="Permanences">Permanences</mat-radio-button>
    </mat-radio-group>
  </div>

  <mat-divider></mat-divider>

  <div
    fxLayout="row wrap"
    fxLayout.lt-md="column"
    fxLayoutGap="30px"
    fxLayoutAlign="center"
    fxFlexFill
  >
    <mat-form-field class="field" fxFlex="40" fxFlex.lt-md="100">
      <input matInput
        [(ngModel)]="data.application"
        [matDatepicker]="applicationDatePicker"
        name="application"
        placeholder="Date d'entrée en vigueur"
        required
      >
      <mat-datepicker-toggle matSuffix [for]="applicationDatePicker"></mat-datepicker-toggle>
      <mat-datepicker #applicationDatePicker></mat-datepicker>
    </mat-form-field>

    <div class="field artt" fxFlex="70" fxLayoutAlign="center center">
      <mat-checkbox [(ngModel)]="data.artt" name="artt">La mise en place modifie le protocole ARTT</mat-checkbox>
    </div>

    <div class="field rules" fxFlex="70" fxLayoutAlign="center center">
      <mat-checkbox [(ngModel)]="data.rules" name="rules">La mise en place modifie le règlement intérieur</mat-checkbox>
    </div>
  </div>

  <div *ngIf="data.type === 'Astreintes'"
    fxLayout="row wrap"
    fxLayout.lt-md="column"
    fxLayoutGap="30px"
    fxLayoutAlign="center"
    fxFlexFill
  >
    <div class="field technical" fxFlex="100">
      <mat-radio-group
        fxLayout="row wrap"
        fxLayout.lt-md="column"
        fxLayoutGap="30px"
        fxLayoutAlign="center"
        [(ngModel)]="data.technical"
        name="technical"
        required
      >
        <mat-radio-button value="Astreintes filières techniques">Astreintes filières techniques</mat-radio-button>
        <mat-radio-button value="Astreintes autres filières">Astreintes autres filières</mat-radio-button>
      </mat-radio-group>
    </div>

    <div *ngIf="data.technical === 'Astreintes filières techniques'" class="field watch" fxFlex="100">
      <mat-divider></mat-divider>
      <mat-radio-group
        fxLayout="row wrap"
        fxLayout.lt-md="column"
        fxLayoutGap="30px"
        fxLayoutAlign="center"
        [(ngModel)]="data.watch"
        name="watch"
        required
      >
        <mat-radio-button value="Prévention des accidents imminents ou réparation d'accidents survenus sur des infrastructures et leurs équipements">Prévention des accidents imminents ou réparation d'accidents survenus sur des infrastructures et leurs équipements</mat-radio-button>
        <mat-radio-button value="Surveillance des infrastructures">Surveillance des infrastructures</mat-radio-button>
        <mat-radio-button value="Gardiennage des locaux et installations">Gardiennage des locaux et installations</mat-radio-button>
      </mat-radio-group>
    </div>

    <mat-divider></mat-divider>

    <div class="field safety" fxFlex="100">
      <mat-radio-group
        fxLayout="row wrap"
        fxLayout.lt-md="column"
        fxLayoutGap="30px"
        fxLayoutAlign="center"
        [(ngModel)]="data.safety"
        name="safety"
        required
      >
        <mat-radio-button value="Astreintes de décision">Astreintes de décision</mat-radio-button>
        <mat-radio-button value="Astreintes d'exploitation">Astreintes d'exploitation</mat-radio-button>
        <mat-radio-button value="Astreintes de sécurité">Astreintes de sécurité</mat-radio-button>
      </mat-radio-group>
    </div>
  </div>

  <div
    fxLayout="row wrap"
    fxLayout.lt-md="column"
    fxLayoutGap="30px"
    fxLayoutAlign="center"
    fxFlexFill
  >
    <mat-form-field class="field" fxFlex="70" fxFlex.lt-md="80">
      <textarea
        fxFlexFill
        [(ngModel)]="data.missions"
        matInput
        cdkTextareaAutosize
        name="missions"
        id="missions"
        placeholder="Liste des missions"
        required
      ></textarea>
    </mat-form-field>

    <mat-form-field
      class="field service"
      fxFlex.lt-md="100"
      fxFlex="50"
    >
      <input matInput
        [(ngModel)]="data.service"
        name="service"
        placeholder="Services concernés"
        required
      >
    </mat-form-field>

    <mat-form-field class="field" fxFlex="70" fxFlex.lt-md="80">
      <textarea
        fxFlexFill
        [(ngModel)]="data.jobs"
        matInput
        cdkTextareaAutosize
        name="jobs"
        id="jobs"
        placeholder="Emplois et grades concernés"
        required
      ></textarea>
    </mat-form-field>

    <div class="field temporaries" fxFlex="70" fxLayoutAlign="center center">
      <mat-checkbox [(ngModel)]="data.temporaries" name="temporaries">Agents non titulaires concernés</mat-checkbox>
    </div>

    <mat-form-field class="field" fxFlex="70" fxFlex.lt-md="80">
      <textarea
        fxFlexFill
        [(ngModel)]="data.hours"
        matInput
        cdkTextareaAutosize
        name="hours"
        id="hours"
        placeholder="Roulements et horaires"
        required
      ></textarea>
    </mat-form-field>

    <mat-form-field class="field delay" fxFlex.lt-md="100" fxFlex="30">
      <input matInput type="number" min="1" max="1000"
        [(ngModel)]="data.delay"
        name="delay"
        placeholder="Délai de prévenance en cas de modification du planning"
        required
      >
      <span matSuffix>jours</span>
    </mat-form-field>

    <mat-form-field class="field" fxFlex="70" fxFlex.lt-md="80">
      <textarea
        fxFlexFill
        [(ngModel)]="data.means"
        matInput
        cdkTextareaAutosize
        name="means"
        id="means"
        placeholder="Moyens mis à disposition (ex: téléphone, voiture, ...)"
        required
      ></textarea>
    </mat-form-field>

    <div class="field payment" fxFlex="100">
      <mat-radio-group
        fxLayout="row wrap"
        fxLayout.lt-md="column"
        fxLayoutGap="30px"
        fxLayoutAlign="center"
        [(ngModel)]="data.payment"
        name="payment"
        required
      >
        <mat-radio-button value="Paiement des permanences">Paiement des permanences</mat-radio-button>
        <mat-radio-button value="Compensation des permanences">Compensation des permanences</mat-radio-button>
      </mat-radio-group>
    </div>
  </div>

  <div class="button">
    <button type="submit" mat-raised-button color="accent" [disabled]="referralDataForm.invalid">Suivant</button>
  </div>
</form>

