<mat-toolbar color="primary" class="mat-elevation-z8">
  <mat-toolbar-row>
    <span>
      <a routerLink="/"><img id="logo" src="assets/img/logo_cdg29.png" alt="Logo CDG29">{{ title }}</a>
    </span>
    <span *ngxPermissionsOnly="['admin', 'secretary']"><a routerLink="/users">Utilisateurs</a></span>
    <span *ngxPermissionsOnly="['admin', 'secretary']"><a routerLink="/referrals">Saisines</a></span>
    <span id="current-user" *ngIf="authService.getAccessTokenId()">
      <mat-icon>account_circle</mat-icon>
      <span>{{ authService.getToken().user?.name }}</span>
    </span>
    <span
      id="logout"
      *ngIf="authService.getAccessTokenId()"
    >
      <a mat-raised-button color="accent" routerLink="/logout">Se déconnecter</a>
    </span>
  </mat-toolbar-row>
</mat-toolbar>

<div class="content">
  <router-outlet></router-outlet>
</div>
