<form #referralDataForm="ngForm" (ngSubmit)="onSubmit()" class="ct07-form"
  fxLayout="column"
  fxLayoutAlign="center center"
>
  <p class="mat-title">Délégation de service public</p>
  <mat-divider></mat-divider>

  <div
    fxLayout="row wrap"
    fxLayout.lt-md="column"
    fxLayoutGap="30px"
    fxLayoutAlign="center"
    fxFlexFill
  >
    <mat-form-field class="field" fxFlex="15" fxFlex.lt-md="100">
      <input matInput
        [(ngModel)]="data.application"
        [matDatepicker]="applicationDatePicker"
        name="application"
        placeholder="Date d'entrée en vigueur"
        required
      >
      <mat-datepicker-toggle matSuffix [for]="applicationDatePicker"></mat-datepicker-toggle>
      <mat-datepicker #applicationDatePicker></mat-datepicker>
    </mat-form-field>

    <mat-form-field class="field service" fxFlex="30" fxFlex.lt-md="100">
      <input matInput
        [(ngModel)]="data.service"
        name="service"
        placeholder="Service concerné"
        required
      >
    </mat-form-field>

    <mat-form-field class="field agents" fxFlex.lt-md="100" fxFlex="15">
      <input matInput type="number" min="1"
        [(ngModel)]="data.agents"
        name="agents"
        placeholder="Nombre d'agents concernés"
        required
      >
    </mat-form-field>

    <mat-form-field class="field" fxFlex="50" fxFlex.lt-md="70">
      <textarea
        fxFlexFill
        [(ngModel)]="data.reasons"
        matInput
        cdkTextareaAutosize
        name="reasons"
        id="reasons"
        placeholder="Raisons du recours à la délégation"
        required
      ></textarea>
    </mat-form-field>

    <mat-form-field class="field" fxFlex="50" fxFlex.lt-md="70">
      <textarea
        fxFlexFill
        [(ngModel)]="data.description"
        matInput
        cdkTextareaAutosize
        name="description"
        id="description"
        placeholder="Description du projet de délégation"
        required
      ></textarea>
    </mat-form-field>

    <mat-form-field class="field" fxFlex="50" fxFlex.lt-md="70">
      <textarea
        fxFlexFill
        [(ngModel)]="data.impact"
        matInput
        cdkTextareaAutosize
        name="impact"
        id="impact"
        placeholder="Impact sur le personnel"
        required
      ></textarea>
    </mat-form-field>

    <div class="field staff-consulted" fxFlex="70" fxLayoutAlign="center center">
      <mat-checkbox [(ngModel)]="data.staffConsulted" name="staff-consulted">Consultation du personnel</mat-checkbox>
    </div>
  </div>

  <div class="button">
    <button type="submit" mat-raised-button color="accent" [disabled]="referralDataForm.invalid">Suivant</button>
  </div>
</form>

