div.content
  display: flex;
  flex-direction: column;
  align-items: center

  mat-card
    display: flex
    justify-content: center
    margin-top: 30px
    width: 70%

  app-file-upload
    width: 100%

