<ng-template #stepOne>
  <div class="step-content" fxLayout="column">
    <h3 fxFlexAlign="center" class="mat-display-1">Veuillez renseigner le formulaire de saisine</h3>
    <mat-card fxFlex="80" fxFlex.lt-md="95">
      <mat-card-content fxLayout="column" fxLayoutAlign="center center" fxFlexFill>
        <app-cap01
          (formSubmit)="formSubmit($event)"
          [data]="referral.data"
          [formType]="referral.form"
          *ngIf="referral?.form?.code === 'cap01'"
        ></app-cap01>
        <app-cap02
          (formSubmit)="formSubmit($event)"
          [data]="referral.data"
          [formType]="referral.form"
          *ngIf="referral?.form?.code === 'cap02'"
        ></app-cap02>
        <app-cap03
          (formSubmit)="formSubmit($event)"
          [data]="referral.data"
          [formType]="referral.form"
          *ngIf="referral?.form?.code === 'cap03'"
        ></app-cap03>
        <app-cap04
          (formSubmit)="formSubmit($event)"
          [data]="referral.data"
          [formType]="referral.form"
          *ngIf="referral?.form?.code === 'cap04'"
        ></app-cap04>
        <app-cap05
          (formSubmit)="formSubmit($event)"
          [data]="referral.data"
          [formType]="referral.form"
          *ngIf="referral?.form?.code === 'cap05'"
        ></app-cap05>
        <app-cap06
          (formSubmit)="formSubmit($event)"
          [data]="referral.data"
          [formType]="referral.form"
          *ngIf="referral?.form?.code === 'cap06'"
        ></app-cap06>
        <app-cap07
          (formSubmit)="formSubmit($event)"
          [data]="referral.data"
          [formType]="referral.form"
          *ngIf="referral?.form?.code === 'cap07'"
        ></app-cap07>
        <app-cap08
          (formSubmit)="formSubmit($event)"
          [data]="referral.data"
          [formType]="referral.form"
          *ngIf="referral?.form?.code === 'cap08'"
        ></app-cap08>
        <app-cap09
          (formSubmit)="formSubmit($event)"
          [data]="referral.data"
          [formType]="referral.form"
          *ngIf="referral?.form?.code === 'cap09'"
        ></app-cap09>
        <app-cap10
          (formSubmit)="formSubmit($event)"
          [data]="referral.data"
          *ngIf="referral?.form?.code === 'cap10'"
        ></app-cap10>
        <app-cap11
          (formSubmit)="formSubmit($event)"
          [data]="referral.data"
          *ngIf="referral?.form?.code === 'cap11'"
        ></app-cap11>
        <app-cap12
          (formSubmit)="formSubmit($event)"
          [data]="referral.data"
          [formType]="referral.form"
          *ngIf="referral?.form?.code === 'cap12'"
        ></app-cap12>
        <app-cap13
          (formSubmit)="formSubmit($event)"
          [data]="referral.data"
          [formType]="referral.form"
          *ngIf="referral?.form?.code === 'cap13'"
        ></app-cap13>
        <app-cap14
          (formSubmit)="formSubmit($event)"
          [data]="referral.data"
          [formType]="referral.form"
          *ngIf="referral?.form?.code === 'cap14'"
        ></app-cap14>
        <app-cap15
          (formSubmit)="formSubmit($event)"
          [data]="referral.data"
          [formType]="referral.form"
          *ngIf="referral?.form?.code === 'cap15'"
        ></app-cap15>
        <app-ct01
          (formSubmit)="formSubmit($event)"
          [data]="referral?.data"
          [formType]="referral.form"
          *ngIf="referral?.form?.code === 'ct01'"
        ></app-ct01>
        <app-ct02
          (formSubmit)="formSubmit($event)"
          [data]="referral?.data"
          [formType]="referral.form"
          *ngIf="referral?.form?.code === 'ct02'"
        ></app-ct02>
        <app-ct03
          (formSubmit)="formSubmit($event)"
          [data]="referral?.data"
          [formType]="referral.form"
          *ngIf="referral?.form?.code === 'ct03'"
        ></app-ct03>
        <app-ct04
          (formSubmit)="formSubmit($event)"
          [data]="referral?.data"
          [formType]="referral.form"
          *ngIf="referral?.form?.code === 'ct04'"
        ></app-ct04>
        <app-ct05
          (formSubmit)="formSubmit($event)"
          [data]="referral?.data"
          [formType]="referral.form"
          *ngIf="referral?.form?.code === 'ct05'"
        ></app-ct05>
        <app-ct06
          (formSubmit)="formSubmit($event)"
          [data]="referral?.data"
          [formType]="referral.form"
          *ngIf="referral?.form?.code === 'ct06'"
        ></app-ct06>
        <app-ct07
          (formSubmit)="formSubmit($event)"
          [data]="referral?.data"
          [formType]="referral.form"
          *ngIf="referral?.form?.code === 'ct07'"
        ></app-ct07>
        <app-ct08
          (formSubmit)="formSubmit($event)"
          [data]="referral?.data"
          [formType]="referral.form"
          *ngIf="referral?.form?.code === 'ct08'"
        ></app-ct08>
        <app-ct09
          (formSubmit)="formSubmit($event)"
          [data]="referral?.data"
          [formType]="referral.form"
          *ngIf="referral?.form?.code === 'ct09'"
        ></app-ct09>
        <app-ct10
          (formSubmit)="formSubmit($event)"
          [data]="referral?.data"
          *ngIf="referral?.form?.code === 'ct10'"
        ></app-ct10>
        <app-ct11
          (formSubmit)="formSubmit($event)"
          [data]="referral?.data"
          *ngIf="referral?.form?.code === 'ct11'"
        ></app-ct11>
        <app-ct12
          (formSubmit)="formSubmit($event)"
          [data]="referral?.data"
          [formType]="referral.form"
          *ngIf="referral?.form?.code === 'ct12'"
        ></app-ct12>
        <app-ct13
          (formSubmit)="formSubmit($event)"
          [data]="referral?.data"
          [formType]="referral.form"
          *ngIf="referral?.form?.code === 'ct13'"
        ></app-ct13>
        <app-ct14
          (formSubmit)="formSubmit($event)"
          [data]="referral?.data"
          [formType]="referral.form"
          *ngIf="referral?.form?.code === 'ct14'"
        ></app-ct14>
        <app-ct15
          (formSubmit)="formSubmit($event)"
          [data]="referral?.data"
          [formType]="referral.form"
          *ngIf="referral?.form?.code === 'ct15'"
        ></app-ct15>
        <app-ct16
          (formSubmit)="formSubmit($event)"
          [data]="referral?.data"
          [formType]="referral.form"
          *ngIf="referral?.form?.code === 'ct16'"
        ></app-ct16>
      </mat-card-content>
    </mat-card>
  </div>
</ng-template>
<ng-template #stepTwo>
  <div class="step-content" fxLayout="column" fxLayoutAlign="center center">
    <h3 *ngIf="referral?.form?.requiredAttachments.length > 0" class="mat-display-1">Veuillez fournir {{ referral?.form?.requiredAttachments.length > 1 ?
      'les justificatifs suivants':
      'le justificatif suivant' }}
    </h3>
    <p *ngFor="let attachment of referral?.form?.requiredAttachments" class="mat-title">
      {{ attachment }}
    </p>

    <h3 *ngIf="referral?.form?.optionalAttachments.length > 0" class="mat-display-1">Justificatifs non obligatoires</h3>
    <p *ngFor="let optionalAttachment of referral?.form?.optionalAttachments" class="mat-title">
      {{ optionalAttachment }}
    </p>
    <mat-card>
      <app-file-upload
        [referral]="referral"
        purpose="attachment"
        (fileChange)="fileChange($event)"
        (done)="stepper.next()"
      ></app-file-upload>
    </mat-card>
  </div>
</ng-template>
<ng-template #stepThree>
  <div class="step-content" fxLayout="column" fxLayoutAlign="center center">
    <h3 class="mat-display-1">Téléchargement et signature de la saisine</h3>

    <mat-card fxLayout="column" fxLayoutAlign="center center">
      <p class="mat-title">Veuillez télécharger la saisine et la signer</p>
      <p>Vous pourrez la transmettre à la prochaine étape</p>

      <button mat-flat-button color="accent" (click)="downloadSummary()">
        <mat-icon class="mat-18">arrow_downward</mat-icon>
        Télécharger la saisine
      </button>
    </mat-card>
  </div>
</ng-template>

<ng-template #stepFour>
  <div class="step-content" fxLayout="column" fxLayoutAlign="center center">
    <h3 class="mat-display-1">Transmission de la saisine signée</h3>
    <mat-card>
      <div class="instructions">
        <p>Déposez un scan de la saisine signée directement ou plus tard en revenant sur votre espace</p>
      </div>
      <app-file-upload
        [referral]="referral"
        purpose="signature"
        (fileChange)="fileChange($event)"
        (done)="signed()"
      ></app-file-upload>
    </mat-card>
  </div>
</ng-template>

<h3 class="mat-display-1">{{ formType?.name }}</h3>

<div class="admin">
  <ng-container *ngIf="referral?.status === 'valid'">
    <h3 *ngxPermissionsOnly="['validator', 'secretary', 'admin']" class="mat-title">
    Saisine validée par {{ referral.validatedBy.name }} le {{ referral.validatedAt| date: 'dd/LL/yy' }}
    </h3>
  </ng-container>

  <div fxLayout.lt-md="column" fxLayoutAlign.lt-md="center center">
    <button *ngxPermissionsOnly="['validator', 'admin', 'secretary']" mat-raised-button color="accent" (click)="downloadAll()">
      <mat-icon class="mat-18">arrow_downward</mat-icon>
      Télécharger les documents
    </button>

    <ng-container *ngIf="referral?.status === 'signed'">
      <button *ngxPermissionsOnly="['validator', 'admin']" mat-raised-button color="accent" (click)="validate()">
        <mat-icon class="mat-18">check</mat-icon>
        Valider la saisine
      </button>
      <button *ngxPermissionsOnly="['validator', 'admin']" mat-raised-button color="accent" (click)="refuse()">
        <mat-icon class="mat-18">close</mat-icon>
        Refuser la saisine
      </button>
    </ng-container>
    <ng-container *ngIf="referral?.status === 'valid'">
      <button *ngxPermissionsOnly="['validator', 'admin', 'secretary']" mat-raised-button color="accent" (click)="decision()">
        <mat-icon class="mat-18">done_outline</mat-icon>
        Décision
      </button>
    </ng-container>
  </div>
</div>

<mat-vertical-stepper
  linear
  editable="false"
  completed="false"
  *ngIf="smallScreen && !done"
  #stepper
>
  <mat-step label="Formulaire">
    <ng-container *ngTemplateOutlet="stepOne"></ng-container>
  </mat-step>
  <mat-step  label="Justificatifs" *ngIf="referral?.form?.requiredAttachments.length > 0 || referral?.form?.optionalAttachments.length > 0">
    <ng-container *ngTemplateOutlet="stepTwo"></ng-container>
  </mat-step>
  <mat-step label="Signature">
    <ng-container *ngTemplateOutlet="stepThree"></ng-container>
  </mat-step>
  <mat-step label="Transmission">
    <ng-container *ngTemplateOutlet="stepFour"></ng-container>
  </mat-step>
  <ng-template matStepperIcon="edit">
    <mat-icon>done</mat-icon>
  </ng-template>
</mat-vertical-stepper>

<mat-horizontal-stepper
  linear
  labelPosition="bottom"
  editable="false"
  completed="false"
  *ngIf="!smallScreen && !done"
  #stepper
>
  <mat-step label="Formulaire">
    <ng-container *ngTemplateOutlet="stepOne"></ng-container>
  </mat-step>
  <mat-step  label="Justificatifs" *ngIf="referral?.form?.requiredAttachments.length > 0 || referral?.form?.optionalAttachments.length > 0">
    <ng-container *ngTemplateOutlet="stepTwo"></ng-container>
  </mat-step>
  <mat-step label="Signature">
    <ng-container *ngTemplateOutlet="stepThree"></ng-container>
  </mat-step>
  <mat-step label="Transmission">
    <ng-container *ngTemplateOutlet="stepFour"></ng-container>
  </mat-step>
  <ng-template matStepperIcon="edit">
    <mat-icon>done</mat-icon>
  </ng-template>
</mat-horizontal-stepper>


<mat-card *ngIf="done" fxFlexFill fxLayout="column" fxLayoutAlign="center center">
  <p>
    Votre saisine à bien été prise en compte.
  </p>
  <p>
    Vous recevrez un mail de confirmation lorsque votre saisine aura été inscrite à l'ordre du jour de la prochaine session.
  </p>
  <p>
    Vous pouvez consulter l'état de votre saisine à tout moment depuis votre espace personnel dans la section "Mes saisines".
  </p>
</mat-card>
