<h3 class="mat-display-1">{{ formType?.name }}</h3>

<mat-horizontal-stepper #stepper labelPosition="bottom">
  <mat-step>
    <ng-template matStepLabel>Formulaire</ng-template>
    <div class="content">
      <h3 class="mat-display-1">Veuillez renseigner le formulaire de saisine</h3>
      <mat-card>
        <mat-card-content>
          <app-cap01
            (formSubmit)="formSubmit($event)"
            [data]="referral.data"
            *ngIf="referral?.form?.code === 'cap01'"
          ></app-cap01>
        </mat-card-content>
      </mat-card>
    </div>
  </mat-step>

  <mat-step>
    <ng-template matStepLabel>Justificatifs</ng-template>
    <div class="content">
      <h3 class="mat-display-1">Veuillez fournir les Justificatifs requis</h3>
      <app-file-upload
        [referral]="referral"
        purpose="attachment"
        (fileChange)="fileChange($event)"
      >
      </app-file-upload>
    </div>
  </mat-step>

  <mat-step>
    <ng-template matStepLabel>Signature</ng-template>
    <div class="content">

    </div>
  </mat-step>
  <ng-template matStepperIcon="edit">
    <mat-icon>done</mat-icon>
  </ng-template>

</mat-horizontal-stepper>
