Le CDG 29 vous informe que votre demande de saisine a été traitée

La décision est
Vous pouvez consulter votre saisine <a href="http://pow101825:4200/referral/{{ id }}/{{ form.id }}">ICI</a>


Bien cordialement,

Le centre de gestion du finistère
instances@cdg29.bzh
