Le CDG 29 vous informe que votre demande de saisine a bien été prise en compte, vous recevrez une notification lorsque celle-ci sera inscrite à l’ordre du jour.

Vous pouvez consulter et modifier votre saisine <a href="http://pow101825:4200/referral/{{ id }}/{{ form.id }}">ICI</a>


Bien cordialement,

Le centre de gestion du finistère
instances@cdg29.bzh
