<mat-chip-list>
    <mat-chip class="chip new" *ngIf="status === 'new'">Nouveau</mat-chip>
    <mat-chip class="chip form" *ngIf="status === 'form'">Formulaire remplit</mat-chip>
    <mat-chip class="chip downloaded" *ngIf="status === 'downloaded'">Récpitulatif Téléchargé</mat-chip>
    <mat-chip class="chip signed" *ngIf="status === 'signed'">En attente de validation</mat-chip>
    <mat-chip class="chip valid" *ngIf="status === 'valid'">Validé</mat-chip>
    <mat-chip class="chip refused" *ngIf="status === 'refused'">Refusé</mat-chip>
</mat-chip-list>
