<form #referralDataForm="ngForm" (ngSubmit)="onSubmit()" class="ct01-form">
  <p class="mat-title">Règlement Intérieur</p>
  <mat-divider></mat-divider>
  <div class="field radio">
    <mat-radio-group name="creation" [(ngModel)]="data.creation">
      <mat-radio-button value="true">Création</mat-radio-button>
      <mat-radio-button value="false">Modification</mat-radio-button>
    </mat-radio-group>
  </div>
  <mat-form-field class="field" *ngIf="data.creation === 'false'">
    <textarea [(ngModel)]="data.modifications" matInput cdkTextareaAutosize name="modifications" id="modifications" placeholder="Modifications apportées"></textarea>
  </mat-form-field>

  <div class="field">
    <mat-checkbox [(ngModel)]="data.staffConsulted" name="staff-consulted">Le personnel a-t-il été consulté ?</mat-checkbox>
  </div>
  <div class="button">
    <button type="submit" mat-raised-button color="accent" [disabled]="referralDataForm.invalid">Suivant</button>
  </div>
</form>

