<div class="file-upload">
  <div class="attachment-dropzone" *ngIf="purpose === 'attachment'">
    <button mat-flat-button color="accent"
      (click)="dropzone.showFileSelector()"
      [disabled]="referral?.attachments.length === referral?.form?.requiredAttachments.length"
    >
      <mat-icon class="mat-18">folder</mat-icon>
      Pacourir
    </button>

    <ngx-dropzone #dropzone (change)="fileAdded($event)" [expandable]="true">
      <ngx-dropzone-label>Glisser/Déposer les fichiers ici ou cliquer sur parcourir</ngx-dropzone-label>
      <ngx-dropzone-preview *ngFor="let file of referral?.attachments" [removable]="true" (removed)="fileRemoved(file)">
        <ngx-dropzone-label>{{ file.name }}</ngx-dropzone-label>
      </ngx-dropzone-preview>
    </ngx-dropzone>

    <button mat-raised-button color="accent" class="next"
      (click)="done.emit(true)"
      [disabled]="referral?.attachments?.length !== referral?.form?.requiredAttachments.length"
    >Suivant</button>
  </div>

  <div class="signature-dropzone" *ngIf="purpose === 'signature'">
    <button mat-flat-button color="accent"
      (click)="signatureDropzone.showFileSelector()"
      [disabled]="referral?.signedSummary"
    >
      <mat-icon class="mat-18">folder</mat-icon>
      Pacourir
    </button>

    <ngx-dropzone #signatureDropzone (change)="fileAdded($event)" [expandable]="true">
      <ngx-dropzone-label>Glisser/Déposer le fichier ici ou cliquer sur parcourir</ngx-dropzone-label>
      <ngx-dropzone-preview *ngIf="referral?.signedSummary" [removable]="true" (removed)="fileRemoved(referral?.signedSummary)">
        <ngx-dropzone-label>{{ referral?.signedSummary?.name }}</ngx-dropzone-label>
      </ngx-dropzone-preview>
    </ngx-dropzone>

    <button mat-raised-button color="accent" class="next"
      (click)="done.emit(true)"
      [disabled]="!referral?.signedSummary"
    >Terminer</button>
  </div>
</div>
