.attachment-dropzone, .signature-dropzone
  display: flex
  flex-direction: column
  align-items: center
  justify-content: center
  width: 100%

  button
    margin: 10px
    color: #fff

    &.next
      width: 150px

  ngx-dropzone
    min-width: 35%

    ngx-dropzone-label
      overflow: scroll
