<mat-card class="login-card">
  <mat-card-title>Authentification</mat-card-title>
  <mat-card-content>
    <form (ngSubmit)="authenticate()" class="login-form">
      <p>
        <mat-form-field>
          <input type="text" matInput placeholder="Utilisateur" [(ngModel)]="community.username" name="username" required>
        </mat-form-field>
      </p>

      <p>
        <mat-form-field>
            <input matInput placeholder="Mot de passe" [(ngModel)]="community.password" type="password" name="password" required>
        </mat-form-field>
      </p>

      <p *ngIf="error" class="error">
        {{ 'auth.error.' + error | translate }}
      </p>

      <div class="button">
        <button type="submit" mat-raised-button color="accent">Connexion</button>
      </div>

    </form>
  </mat-card-content>
</mat-card>
